<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content">
            <h1>{{>header}}</h1>
            <img class="profile" src="/images/about.jpeg" alt="Author's picture">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse iusto vitae aperiam. Facere illum eos eligendi nihil repellendus expedita deserunt. Fugiat modi unde sint consequatur nesciunt, iusto similique odit sit!</p>
        </div>
        {{>footer}}

    </body>
</html>