<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content">
            <h1>{{>header}}</h1>
            <p>Get 24/7 help from Udela Team</p><br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>            
        </div>
        {{>footer}}

    </body>
</html>